---
import { Image } from "astro:assets";
const { item } = Astro.props;
const { image, title, description } = item.data;
---

<div
  class="flex flex-col items-center justify-center rounded-2xl bg-white p-8 text-center"
>
  {
    (
      <dt class="lg:hidden">
        {image && (
          <Image
            src={image}
            alt={title}
            width={310}
            height={184}
            loading="lazy"
            class="rounded-box h-[184px] w-[310px] object-cover"
          />
        )}
      </dt>
      <dt class="hidden lg:block">
        {image && (
          <Image
            src={image}
            alt={title}
            width={336}
            height={288}
            loading="lazy"
            class="rounded-box h-[288px] w-[336px] object-cover"
          />
        )}
      </dt>
    )
  }
  <dd class="text-syslate my-6 text-2xl/8 font-bold">
    {title}
  </dd>
  <dd class="text-syslate mx-16 text-base/5 font-semibold">
    {description}
  </dd>
</div>
