---
const year = new Date().getFullYear();
import { Icon } from "astro-icon/components";
import { navLinks } from "../data/navLinks.json";
import { socialLinks } from "../data/socialLinks.json";
---

<div
  class="-mt-15 h-40 w-full overflow-hidden md:-mt-20 md:h-60 lg:-mt-30 lg:h-80"
>
  <div
    class="border-syslate bg-syslate -z-10 mb-24 h-40 translate-y-1/2 scale-120 rounded-t-[50%] border md:h-60 lg:h-80"
  >
  </div>
</div>
<div class="bg-syslate h-100">
  <footer class="bg-syslate">
    <div
      class="mx-auto flex max-w-7xl flex-col overflow-hidden px-6 py-20 sm:py-24 lg:px-8"
    >
      <nav
        aria-label="Footer"
        class="-mb-6 flex flex-col items-center justify-center gap-x-12 gap-y-3 text-sm/6 lg:flex-row lg:justify-start"
      >
        <div class="flex flex-row gap-6">
          <Icon name="logo_1" width={152} height={83} />
          <Icon name="logo_bn" width={146} height={83} />
        </div>
        <div class="flex gap-6">
          {
            navLinks.map((link) => (
              <a href={link.url} class="hover:text-syyellow text-white">
                <div class="flex items-center gap-1">
                  {link.icon && (
                    <Icon name={link.icon} width={25} height={25} />
                  )}{" "}
                  {link.name}
                </div>
              </a>
            ))
          }
        </div>
      </nav>
      <div
        class="mt-16 flex flex-col items-center justify-center gap-y-6 lg:items-start"
      >
        <div class="text-white">Follow us</div>
        <div class="flex gap-6">
          {
            socialLinks.map((link) => (
              <a href={link.url} class="hover:text-syyellow text-white">
                <div class="flex items-center gap-1">
                  {link.icon && (
                    <Icon name={link.icon} width={25} height={25} />
                  )}
                </div>
              </a>
            ))
          }
        </div>
        <div class="text-white">Contact us</div>
        <div class="hover:text-syyellow flex gap-1 text-white">
          <Icon
            name="material-symbols:mail-outline-rounded"
            width={25}
            height={25}
          />
          <a href="mailto:info@supportingyou,org">info@supportingyou.org</a>
        </div>
      </div>
      <div
        class="mt-4 border-t border-white/10 pt-8 sm:mt-6 lg:mt-8 lg:flex lg:items-center lg:justify-between"
      >
        <p class="text/6 text-center text-white lg:text-start">
          &copy;<span id="footer-year">{year}</span> Supporting You (Lifelines Ltd).
          All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  <script is:inline>
    document.getElementById("footer-year").innerText = new Date().getFullYear();
  </script>
</div>
